:root {
  --dark-bg: rgb(10, 5, 23);
  --border-color: #0084ff;
  --primary: #0084ff;
  --secondary: #f5d7af;
  --proj-bg: rgba(20, 20, 20, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#portfolio {

  background-size: 40px 40px;
  background-color: var(--dark-bg);
  background-image: linear-gradient(to right, rgba(243, 245, 175, 0.12) 2px, transparent 1px),
  linear-gradient(to bottom, rgba(243, 245, 175, 0.12) 2px, transparent 1px);
}

header {
  height: 160px;
  background-color: var(--dark-bg);
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid var(--border-color);
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#main-header {
  margin: 10px 0;
  font-size: 20px;
}

#intro-block {
  color: whitesmoke;
  display: flex;
  margin: 5vh 0;
  width: 60%;
  justify-content: space-between;
}

#intro-img {
  width: 15vw;  
  object-fit: cover;
}

#intro-txt {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#intro-txt h1 {
  font-size: 3rem;
}

#intro-txt p {
  font-size: 1rem;
}

#project-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#intro-socials {
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
  align-items: center;
}

#cv-button {
  background-color: var(--dark-bg);
  font-size: 1rem;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  width: 60px;
  height: 30px;
}

#cv-button:hover {
  cursor: pointer;
}

.intro-social-link {
  color: whitesmoke;
}

#work-education {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#work-education-btns {
  border: 1px solid grey;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: grey;
  border-radius: 10px;
}

.btn-selected {
  background-color: whitesmoke;
}

.btn-deselected {
  background-color: grey;
}

#btn-work, #btn-education {
  width: 50%;
  height: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

#work-education-history {
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--dark-bg);
  color: whitesmoke;
  border: 1px solid grey;
  width: 100%;
  font-size: 1rem;
}

#work-history {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.show-history {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hide-history {
  display: none;
}

.li-work-history, .li-education-history {
  display: flex;
  gap: 40px;
}

.work-history-info, .education-history-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.work-history-img {
  width: 70px;
}

.work-history-title, .education-history-university {
  font-weight: bold;
  font-size: 1.5rem;
}

.work-history-period, .education-history-period {
  color: grey;
}

.work-history-location, .education-history-location {
  color: grey;
}

.work-history-description, .education-history-description {
  margin-top: 10px;
  list-style-type: disc;
}

.work-history-description li, .education-history-description li {
  list-style-position: inside;
}

.project {
  background-color: var(--proj-bg);
  border: 1px solid var(--border-color);
  width: 38%;
  padding: 15px;
}

.project-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.project-title {
  color: var(--primary);
}

.project-description {
  color: whitesmoke;
}

.project-link {
  color: var(--secondary);
  text-transform: uppercase;
}

footer {
  margin-top: 30px;
  padding: 10px 0;
  border-top: 3px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 30px;
  position: sticky;
  bottom: 0;
  opacity: 0.85;
}

.footer-link {
  color: var(--border-color);
  opacity: 0.85;
}











.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
